.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #100502;
  background-color: #D2D5DF;
  top: 80px;
  right: 0;
  z-index: 5;

  .cart-items {
    display: flex;
    height: 240px;
    flex-direction: column;
    overflow: scroll;
  }

  button: {
    margin-top: auto;
  }
}