.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 0px;
    justify-content: flex-start;
  }

  .options {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px 15px;
    }

    .optionTwo {
      justify-content: flex-end;
    }
  }
}